.searchMenu {
  width: 300px;
  max-width: 300px;
  height: 700px;
  max-height: 700px;
  background-color: #b3b3b39c;
  border-radius: 10px;
  margin: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
}
