.musicPlayer {
  width: 84%;
  position: relative;
  top: 130px;
  left: 77px;
  margin: 20p;
  padding: 20p;
}
.imgLogo {
  width: 300px;
  border-radius: 178px;
  position: relative;
  top: 80px;
  left: 34%;
}
.Card {
  display: flex;
}
.buttonContianer {
  margin-left: 77%;
  padding-top: 30px;
}
audio {
  width: 300px;
  height: 30px;
}
audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}
audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
     * if we are too small to show all controls.
     */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  height: 30px;
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 5px;
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}
audio::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-time-remaining-display {
  -webkit-appearance: media-current-time-display;
  -webkit-user-select: none;
  flex: none;
  display: flex;
  border: none;
  cursor: default;
  height: 30px;
  margin: 0 9px 0 0;
  padding: 0;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  -webkit-appearance: media-slider;
  display: flex;
  flex: 1 1 auto;
  height: 8px;
  margin: 0 15px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 25px;
  border: initial;
  color: inherit;
}
input[type="range" i]::-webkit-media-slider-thumb {
  margin-left: -7px;
  margin-right: -7px;
}
audio::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button {
  -webkit-appearance: media-enter-fullscreen-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
video::-webkit-media-controls-toggle-closed-captions-button {
  -webkit-appearance: media-toggle-closed-captions-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}
audio::-webkit-media-controls-fullscreen-volume-slider,
video::-webkit-media-controls-fullscreen-volume-slider {
  display: none;
}
audio::-webkit-media-controls-fullscreen-volume-min-button,
video::-webkit-media-controls-fullscreen-volume-min-button {
  display: none;
}
audio::-webkit-media-controls-fullscreen-volume-max-button,
video::-webkit-media-controls-fullscreen-volume-max-button {
  display: none;
}
video::-webkit-media-text-track-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
  font: 22px sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-decoration: none;
  pointer-events: none;
  -webkit-user-select: none;
  word-break: break-word;
  flex: 1 1;
}
video::cue {
  display: inline;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 2px;
}
video::-webkit-media-text-track-region {
  position: absolute;
  line-height: 5.33vh;
  writing-mode: horizontal-tb;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}
video::-webkit-media-text-track-region-container {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
video::-webkit-media-text-track-region-container.scrolling {
  transition: top 433ms linear;
}
video::-webkit-media-text-track-display {
  position: absolute;
  overflow: hidden;
  white-space: pre-wrap;
  -webkit-box-sizing: border-box;
  flex: 0 0 auto;
}
video::cue(:future) {
  color: gray;
}
video::-webkit-media-text-track-container b {
  font-weight: bold;
}
video::-webkit-media-text-track-container u {
  text-decoration: underline;
}
video::-webkit-media-text-track-container i {
  font-style: italic;
}
