.haeders ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: fit-content;
}

.haeders li {
  float: left;
}

.haeders li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.haeders li a:hover:not(.active) {
  font-weight: bolder;
}

.active {
  background-color: #4caf50;
  border-radius: 30px;
}
